<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jinyoon.a09capstoneproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeDetailActivity"
            android:label="@string/title_activity_recipe_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jinyoon.a09capstoneproject.MainActivity" />
        </activity>
        <provider
            android:authorities="@string/content_authority"
            android:name=".Database.MyFridgeDataProvider"
            android:exported="false"
            android:syncable="true"/>

        <service
            android:name=".Notification.NotificationIntentService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".Widget.BasketWidgetRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".Notification.NotificationEventReceiver"/>
        <receiver android:name=".Notification.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Widget.BasketWidgetProvider"
            android:label="@string/title_widget_today">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.example.jinyoon.a09capstoneproject.ACTION_DATA_UPDATED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_basket_list"/>

        </receiver>


    </application>

</manifest>